/receivemidi
/sendmidi
/zzzArchive
config.json
debug_log.txt
/Setlist
/__pycache__
/gui/__pycache__
MidiList_Set.csv
MidiList_Set.csv
test_new_midi.py
test_daisy_chain.py
test_new_midi.py
test_new_midi.py
